@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body, html{
    background-color: #000000;
    background-image: linear-gradient(330deg, #3B444B, #3B444B20);
    color: white;
    width: 100vw;
    height: 100vh;
    position: relative;

/* Dps q o commit sair desta página, remover comando a seguir */
    overflow: hidden scroll;
}
header{
    background-image: linear-gradient(to left, #B22222, #E34234);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #00000090;
    height: 15vh;
}
header h1{
    padding-top: 10px;
    text-shadow: 2px 2px 4px #000000;
}
header ul{
    display: flex;
    list-style: none;
}
header ul li{
    padding: 15px 10px;
    font-weight: bold;
    text-shadow: 2px 2px 5px #000000ba;
}
header a{
    border: 1px solid #ffffff05;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #00000060;
    padding: 5px 10px;
    text-decoration: none;
    color: #ABCDEF;
}


main{
    display: flex;
}
main .secBicos{
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;

}
.secBicos div{
    min-width: 90px;
    max-width: 90px;
    min-height: 90px;
    max-height: 90px;
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 15px;
    margin-left: 40px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #00000090;
    transition: 0.5s;
}
.secBicos div:hover{
    transform: scale(1.2);
    cursor: pointer;
}
#popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 30vh;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    background-color: white;
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.1rem;
}
#popup aside{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    border-top: 2px solid black;
}
#popup aside input{
    height: 30px;
    width: 100px;
}

main .secFinal{
    width: 60vw;
    height: 80vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
}
.secFinal h2{
    font-size: 2rem;
    height: 25%;
    width: 80%;
    margin: auto;
}
.secFinal .finalTopo{
    text-align: center;
    width: 100%;
    height: 75%;
}
.finalTopo #valBox{
    background-color: #ffffff35;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    height: 50%;
    margin: auto;
}
#valBox table{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    border-collapse: collapse;
}
#valBox table th{
    color: indigo;
    font-size: 1.2em;
}
#valBox table td,th{
    border: 1px solid #ffffff50;
    padding: 5px;
}
#valBox col:nth-child(1){
    width: 10%;
}
#valBox #valBotao{
    width: 100%;
    height: 25%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
#valBox #valBotao input{
    width: 40%;
}

.secFinal .finalBaixo input{
    font-size: 0.8em;
    padding: 5px 15px;
    color: darkblue;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s;
}
.secFinal .finalBaixo input:hover{
    background-color: #E34234;
}


footer{
    height: 5vh;
    background-color: #3B444B;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px black;
}
footer a{
    color: lightblue;
}

.commit{
    width: 100%;
    font-size: 1.2rem;
    background-color: #000000;
    color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.commit input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button{
    display: none;
}
.commit input{
    text-align: center;
    margin: 2px;
    width: 83px;
}