@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=Press+Start+2P&display=swap');

:root{
    --cor1:#00997D;
    --cor2:#997A0F;
    --cor3:#4D3C04;
    --cor4:#084D40;
    --cor5:#950F99;
    --font1: 'Almendra Display', cursive;
    --font2: 'Press Start 2P', cursive;;
}
*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-image: linear-gradient(90deg, var(--cor2), var(--cor2));
    color: black;
    display: flex;
    justify-content: center;
    font-family: var(--font2);
    overflow: hidden;
}
#table{
    position: relative;
    background-color: var(--cor3);
    width: 50vw;
    min-width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#cpuPlay, #playerPlay{
        
}
#playerPlay{
    bottom: 0px;
}
img{
    width: 130px;
}
#select{
    position: absolute;
    display: inline-flex;
    justify-content: space-around;
    bottom: 40px;
    width: 50vw;
    min-width: 400px;
}
#txtSelect{
    position: absolute;
    top: -220px;
    padding: 20px;
    background-image: radial-gradient(var(--cor1), var(--cor5));
    color: yellow;
    font-size: 2em;
}
#select > img{
    display: flex;
    width: 60px;
    border: 2px solid black;
    padding: 20px 20px 0px 20px;
    background-image: linear-gradient(80deg, var(--cor5), var(--cor1));
    transition: 1s;
}
@keyframes movimentar{
    0%{transform: rotate(0deg) translateY(-05px) scale(1.00);}
    25%{transform: rotate(10deg) translateY(-10px) scale(1.10);}
    50%{transform: rotate(0deg) translateY(-15px) scale(1.15);}
    75%{transform: rotate(-10deg) translateY(-10px) scale(1.10);}
    100%{transform: rotate(0deg) translateY(-05px) scale(1.0);}
}
#select > img:hover{
    cursor: grab;
    background-image: radial-gradient(var(--cor1), var(--cor3));
    animation: movimentar 2s infinite ease-in-out;
}
#goTuto{
    position: absolute;
    bottom: -40px;
    font-size: 14px;
    padding: 5px;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: help;
}
a:hover{
    background-color: #000000a5;
    transition: 1s;
}
/* Time To Play*/
.showMenu{
    animation: showMenuu 1s ease;
}
@keyframes showMenuu{
    from {transform: translateY(400px);}
    to {transform: translateY(0px);}
}
.dropMenu{
    transition: 2s;
    transform: translateY(500px);
}
#playerPlay{
    transform: translateY(300px);
}
@keyframes showPlayerr{
    from {transform: translateY(300px);}
    to {transform: translateY(0px);}
}
#showPlayer{
    animation: showPlayerr 2s ease;
}
#cpuPlay{
    transform: translateY(-300px);
}
@keyframes showCpuu{
    from {transform: translateY(-300px);}
    to {transform: translateY(0px);}
}
#showCpuPlayer{
    animation: showCpuu 2s ease;
}
#KO{
    opacity: 0;
}
#showKO{
    position: absolute;
    top: 43%;
    left: 10%;
    width: 40vw;
    min-width: 300px;
    transition: 1s;
    opacity: 100%;
    background-image: linear-gradient(80deg, var(--cor1), var(--cor5));
    padding: 10px;
    font-size: 2em;
    border-radius: 0 100px;
}
audio{
    position: absolute;
    top: 0px;
    right: 5px;
    height: 15px;
    margin: 5px auto;
    opacity: 30%;
}