* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	background-color: #fff;
	height: 100vh;
}
.top_div {
	height: 32vh;
	background-image: url("./img/background.jpeg");
	background-position: center bottom;
	display: flex;
	position: relative;
}
.img_div {
	position: absolute;
	padding: 20px 10px;
	border-radius: 20px;
	background-color: #fff;
	width: 200px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
	box-shadow: 0 0 10px #00000070;
}
img {
	width: 180px;
}

.bot_div {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	top: -2vh;
	border: 1px solid #00000020;
	border-radius: 25px 25px 0 0;
	height: 70vh;
	width: 100%;
	background-color: #fff;
}
.bot_div > div {
	width: 88%;
	margin: 4vh;
	margin-bottom: 0;
	position: relative;
}
.bot_div input {
	width: 100%;
	height: 70px;
	border-radius: 20px;
	font-size: 1.5rem;
	text-indent: 20px;
}
.bot_div div:nth-child(4) input {
	font-size: 1.3rem;
	letter-spacing: 3px;
	font-weight: bold;
	color: #fff;
}
.bot_div label {
	position: absolute;
	background-color: transparent;
	color: #00000070;
	letter-spacing: 3px;
	text-indent: 3px;
	top: 30%;
	left: 5%;
	font-size: 1.5rem;
	transition: 0.5s;
}
.bot_div input:focus ~ label,
.bot_div input:valid ~ label {
	position: absolute;
	background-color: #222;
	border-radius: 10px;
	color: #fff;
	padding: 5px;
	font-size: 1rem;
	top: -18%;
	left: 10%;
}
.bot_div span {
	cursor: pointer;
}
.bot_div div:nth-child(3) {
	line-height: 35px;
	text-align: right;
	text-decoration: underline;
}
.bot_div button {
	background-color: #f00000e0;
	width: 100%;
	color: #fff;
	height: 70px;
	border-radius: 20px;
	font-size: 1.5rem;
	text-indent: 20px;
	border: 5px inset #ff0000;
}
.bot_div button:hover {
	background-color: #0000f0e0;
	border: 5px inset #0000ff;
}
.bot_div .footer {
	position: absolute;
	bottom: 0;
	left: 3%;
	width: 100%;
	height: 8%;
}

.back_div {
	position: absolute;
	background-attachment: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background-color: #000000d0;
	z-index: 1;
}
.div_cadastro {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid white;
	border-radius: 30px;
	box-shadow: 5px 5px 10px #00000080, inset -5px -5px 5px #00000080, inset 5px 5px 5px #00ffff90;
	padding: 30px;
	background-color: #92a8d199;
	text-align: center;
	transition: 1s;
}
.div_cadastro div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.div_cadastro div > * {
	margin: 2px;
	max-width: 300px;
}
.div_cadastro .div_concluir {
	margin-top: 50px;
}
.div_cadastro div button {
	width: 80px;
}
